<div class="h-view-100 w-full flex justify-content-center align-items-center">
    <div class="flex flex-col w-fit-content align-items-center"> 
        <i class="pi pi-shield w-fit-content" [style]="{'fontSize': '2.5rem' }"></i>
        <p class="text-title-xxl">Welcome to Moma</p>
        <form class="flex flex-col gap-8" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <p-floatlabel variant="on">
                <input class="w-480" pInputText id="email" formControlName="email" autocomplete="off" />
                <label for="email">Email</label>
            </p-floatlabel>
            <p-floatlabel variant="on">
                <p-password class="w-480" formControlName="password" [feedback]="false" />
                <label for="password">Create password</label>
            </p-floatlabel>
            <p-floatlabel variant="on">
                <p-password class="w-480" formControlName="confirmPassword" [feedback]="false" />
                <label for="confirmPassword">Confirm password</label>
            </p-floatlabel>
            <ht-button type="submit" class="w-full">Sign up</ht-button>
            <div class="w-full text-center">Already have an account? <a class="pointer"
                    (click)="navigateTo('/login')">Login</a></div>
            <button type="button" class="google-btn" (click)="googleLogin()">
                <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google logo" />
                <span>Sign in with Google</span>
            </button>
        </form>
    </div>
</div>