<onboarding-layout>
  <p title>Welcome to Moma</p>
  <form
    class="flex flex-col gap-8 w-full"
    [formGroup]="signupForm"
    (ngSubmit)="onSubmit()"
  >
    <p-floatlabel variant="on">
      <input
        class="w-full"
        pInputText
        id="email"
        formControlName="email"
        autocomplete="off"
      />
      <label for="email">Email</label>
    </p-floatlabel>
    <p-floatlabel variant="on">
      <p-password
        formControlName="password"
        autocomplete="new-password"
        [feedback]="false"
        [toggleMask]="true"
      />
      <label for="password">Create password</label>
    </p-floatlabel>
    @if (signupForm.get('password')?.errors?.['weakPassword']) {
    <p-message severity="error" variant="simple" size="small"
      >Password must be 8+ chars with upper, lower, number, and special
      char.</p-message
    >
    }
    <p-floatlabel variant="on">
      <p-password formControlName="confirmPassword" [feedback]="false" [toggleMask]="true"/>
      <label for="confirmPassword">Confirm password</label>
    </p-floatlabel>
    @if (signupForm.get('password')?.errors?.['mismatch']) {
    <p-message severity="error" variant="simple" size="small"
      >Passwords do not match.</p-message
    >
    }
    <ht-button [disabled]="signupForm.invalid" type="submit" class="w-full"
      >Sign up</ht-button
    >
    <div class="w-full text-center">
      Already have an account?
      <a class="pointer" (click)="navigateTo('/login')">Login</a>
    </div>
    <button type="button" class="google-btn" (click)="googleLogin()">
      <img
        src="https://developers.google.com/identity/images/g-logo.png"
        alt="Google logo"
      />
      <span>Sign in with Google</span>
    </button>
  </form>
</onboarding-layout>
