<div class="flex h-100 overflow-hidden">
  <nav
    class="nav-bar w-254 bg-white p-16 shadow-md flex flex-col justify-content-space-between"
    aria-label="Main navigation"
  >
    <div>
      <div class="flex align-items-center">
        <div class="w-fit-content p-12">
          <i
            class="pi pi-shield text-primary"
            [style]="{ fontSize: '35px' }"
          ></i>
        </div>
        <p class="text-title-md">{{ user.name }}</p>
      </div>
      <div class="my-[15px] border-b"></div>
      <ul class="space-y-2 overflow-y-scroll">
        @for(url of commonService.urls; track url.title) {
        <li>
          <a
            class="block px-4 py-2 rounded hover:bg-gray-200 cursor-pointer no-underline"
            [routerLink]="url.url"
            routerLinkActive="active-link"
          >
            <i [class]="'pi ' + url.icon"></i>
            <span class="ml-10">{{ url.title }}</span>
          </a>
        </li>
        }
      </ul>
    </div>
    <a
      class="block px-4 py-2 rounded hover:bg-gray-200 cursor-pointer no-underline"
      [routerLink]="'/login'"
    >
      <i class="pi pi-sign-out"></i>
      <span class="ml-10">Logout</span>
    </a>
  </nav>
  <div class="w-full flex flex-col flex-1 overflow-auto">
    <router-outlet></router-outlet>
  </div>
</div>
