<div class="flex h-100">
  <nav
    class="w-254 h-100 bg-gray-100 p-16 shadow-md"
    aria-label="Main navigation"
  >
    <div class="flex align-items-center">
      <div class="w-fit-content p-12">
        <i class="pi pi-shield text-primary" [style]="{ fontSize: '35px' }"></i>
      </div>
      <p class="text-title-md">{{ user.name }}</p>
    </div>
    <div class="my-[15px] border-b"></div>
    <ul class="space-y-2">
      @for(url of commonService.urls; track url.title) {
      <li>
        <a
          class="block px-4 py-2 rounded hover:bg-gray-200 cursor-pointer no-underline"
          [routerLink]="url.url"
          routerLinkActive="active-link"
        >
          <i [class]="'pi ' + url.icon"></i>
          {{ url.title }}
        </a>
      </li>
      }
    </ul>
  </nav>
  <div class="w-full flex flex-col flex-1">
    <router-outlet></router-outlet>
  </div>
</div>