:host ::ng-deep {
    .p-password {
      width: 100%;
      input {
        width: 100%;
      }
    }
    .p-button {
        width: 100px;
    }
}

.google-btn {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  background-color: var(--color-white);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #444;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.google-btn img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.google-btn:hover {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
