// FONT SIZE
$fontSizeXXS: 10px;
$fontSizeXS: 12px;
$fontSizeSM: 14px;
$fontSizeMD: 16px;
$fontSizeLG: 18px;
$fontSizeXL: 22px;
$fontSizeXXL: 26px;
$fontSizeXXXL: 32px;
$fontSizeXXXXL: 40px;

//LINE HEIGHT
$lineHieghtXS: 16px;
$lineHieghtSM: 20px;
$lineHieghtMD: 24px;
$lineHieghtLG: 32px;
$lineHieghtXL: 40px;
$lineHieghtXXL: 48px;

//FONT WEIGHT
$fontWeightXXXS: 100; // thin
$fontWeightXXS: 200; // ultra light
$fontWeightXS: 300; // light
$fontWeightSM: 400; // regular
$fontWeightMD: 500; // medium
$fontWeightLG: 600; // semibold
$fontWeightXL: 700; // bold
$fontWeightXXL: 800; // extra bold
$fontWeightXXXL: 900; // black

//LETTER SPACING
$letterSpacingXS: -0.005em;
$letterSpacingSM: -0.01em;
$letterSpacingMD: 0em;
$letterSpacingLG: 0.0025em;
$letterSpacingXL: 0.005em;
$letterSpacingXXL: 0.01em;

//ICON SIZE
$iconXL: 32px;
$iconLG: 24px;
$iconMD: 20px;
$iconSM: 16px;
$iconXS: 12px;