<onboarding-layout>
  <div title>
    Let's start by adding your income
    <p class="text-title-sm">
      Add one or more sources of income so we can personalize your experience.
    </p>
  </div>
  <div class="h-100 flex flex-col">
    @if (!(isLoading$ | async)) {
      @if ((incomes$ | async) && (incomes$ | async)!.length > 0) {
      <div class="flex flex-col gap-12 pb-4">
        @for (income of (incomes$ | async); track income.id) {
        <ht-card [variant]="'secondary'">
          <div class="flex align-items-center justify-content-space-between">
            <div class="flex gap-16 align-items-center">
              <i class="fontsize-20 ml-4" [class]="'pi ' + income.type.icon"></i>
              <div class="flex flex-col gap-4">
                <p class="text-display-lg">{{ income.type.name }}</p>
                <p class="text-display-sm">
                  {{ income.amount | currency : income.currency.value || "VND" }}
                </p>
              </div>
            </div>
            <div class="flex justify-content-center pointer">
              <p-menu
                #menu
                [tabindex]="undefined"
                [model]="getMenuItems(income)"
                [popup]="true"
              />
              <ht-button
                variant="secondary"
                borderLess
                (click)="menu.toggle($event)"
              >
                <i class="pi pi-ellipsis-v fontsize-16"></i>
              </ht-button>
            </div>
          </div>
        </ht-card>
        }
      </div>
      } @else {
      <div
        class="flex flex-col items-center justify-center p-8 text-center border border-dashed rounded-lg bg-gray-50 text-gray-500"
      >
        <i class="pi pi-wallet text-4xl mb-4 text-gray-400"></i>
        <h3 class="text-lg font-semibold mb-2">No income entries yet</h3>
        <p class="mb-4">
          Start tracking your income to better manage your finances.
        </p>
      </div>
    } } @else {
    <div class="flex flex-col gap-12 pb-4">
      <ht-card [variant]="'secondary'">
        <p-skeleton width="100%" height="1rem" class="mb-1"></p-skeleton>
        <p-skeleton width="100%" height="1rem" class="mb-1"></p-skeleton>
        <p-skeleton width="100%" height="1rem" class="mb-1"></p-skeleton>
      </ht-card>
    </div>
    }
  </div>
  <div footer>
    <div class="flex flex-col gap-8">
      <ht-button [variant]="'secondary'" class="w-full" (click)="visible = true"
        >Add income</ht-button
      >
      <ht-button [disabled]="!((incomes$ | async)?.length)" class="w-full" (click)="next()">Next</ht-button>
    </div>
  </div>
</onboarding-layout>
<p-dialog
  [header]="isEdit ? 'Edit income' : 'Add income'"
  [(visible)]="visible"
  [style]="{ width: '380px', height: '60%' }"
  [breakpoints]="{ '575px': '80%' }"
  (onHide)="closeDialog()"
>
  <form class="flex flex-col gap-16" [formGroup]="incomeForm">
    <p-select
      class="w-full md:w-14rem"
      appendTo="body"
      formControlName="type"
      placeholder="Select Type"
      optionLabel="name"
      panelStyleClass="w-full"
      [options]="TYPE_INCOME_OPTIONS"
      [showClear]="true"
      [overlayOptions]="{ autoZIndex: true, baseZIndex: 1000 }"
    >
      <ng-template let-selected pTemplate="selectedItem">
        @if (selected) {
        <div class="w-full md:w-14rem">
          <i [class]="'pi ' + selected.icon" class="mr-2"></i>
          {{ selected.name }}
        </div>
        } @else {
        <span>Select Type</span>
        }
      </ng-template>
      <ng-template let-option pTemplate="item">
        <div class="w-full md:w-14rem">
          <i [class]="'pi ' + option.icon" class="mr-2"></i>
          {{ option.name }}
        </div>
      </ng-template>
    </p-select>
    <p-select
      class="w-full md:w-14rem"
      appendTo="body"
      formControlName="currency"
      placeholder="Select currency"
      optionLabel="label"
      panelStyleClass="w-full"
      [options]="CURRENCY_OPTIONS"
      [showClear]="true"
      [overlayOptions]="{ autoZIndex: true, baseZIndex: 1000 }"
    />
    <p-inputnumber
      [currency]="currency"
      [locale]="locale"
      formControlName="amount"
      inputId="currency"
      mode="currency"
    />
    <p-select
      class="w-full md:w-14rem"
      appendTo="body"
      formControlName="frequency"
      placeholder="Select Frequency"
      optionLabel="label"
      optionValue="value"
      panelStyleClass="w-full"
      [options]="FREQUENCY_OPTIONS"
      [showClear]="true"
      [overlayOptions]="{ autoZIndex: true, baseZIndex: 1000 }"
    >
      <ng-template let-selected pTemplate="selectedItem">
        @if (selected) {
        <div class="w-full md:w-14rem">
          <i [class]="'pi ' + selected.icon" class="mr-2"></i>
          {{ selected.label }}
        </div>
        } @else {
        <span>Select Frequency</span>
        }
      </ng-template>
      <ng-template let-option pTemplate="item">
        <div class="w-full md:w-14rem">
          <i [class]="'pi ' + option.icon" class="mr-2"></i>
          {{ option.label }}
        </div>
      </ng-template>
    </p-select>
  </form>
  <ng-template #footer>
    <div class="flex justify-end gap-2">
      <ht-button
        [variant]="'secondary'"
        class="w-full"
        (click)="visible = false"
        >Cancel</ht-button
      >
      @if (isEdit) {
      <ht-button
        [variant]="'primary'"
        [disabled]="incomeForm.invalid"
        class="w-fit-content"
        (click)="editIncome()"
        >Edit income</ht-button
      >
      } @else {
      <ht-button
        [variant]="'primary'"
        [disabled]="incomeForm.invalid"
        class="w-fit-content"
        (click)="addIncome()"
        >Add income</ht-button
      >
      }
    </div>
  </ng-template>
</p-dialog>

<p-dialog
  header="Delete income"
  [(visible)]="deleteVisible"
  [style]="{ width: '380px' }"
  [breakpoints]="{ '575px': '80%' }"
  (onHide)="closeDeleteDialog()"
>
  Do you want to delete this item?
  <ng-template #footer>
    <div class="flex justify-end gap-2">
      <ht-button
        [variant]="'secondary'"
        class="w-full"
        (click)="closeDeleteDialog()"
        >Cancel</ht-button
      >
      <ht-button
        [variant]="'danger'"
        class="w-fit-content"
        (click)="deleteIncome()"
        >Delete</ht-button
      >
    </div>
  </ng-template>
</p-dialog>
