<onboarding-layout>
  <p title>Welcome to Moma</p>
  <form
    class="flex flex-col gap-8 w-full"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
    autocomplete="off"
  >
    <p-floatlabel variant="on">
      <input
        class="w-full"
        pInputText
        id="email"
        formControlName="email"
        autocomplete="off"
      />
      <label for="email">Email</label>
    </p-floatlabel>
    <p-floatlabel variant="on">
      <p-password formControlName="password" [feedback]="false" [toggleMask]="true" />
      <label for="email">Password</label>
    </p-floatlabel>
    <div class="w-full text-center">
      <a class="pointer" (click)="navigateTo('/signup')">Forgot password?</a>
    </div>
    <ht-button [disabled]="loginForm.invalid" type="submit" class="w-full"
      >Sign in</ht-button
    >
    <div class="w-full text-center">
      Don't have an account?
      <a class="pointer" (click)="navigateTo('/signup')">Signup</a>
    </div>
    <button type="button" class="google-btn" (click)="googleLogin()">
      <img
        src="https://developers.google.com/identity/images/g-logo.png"
        alt="Google logo"
      />
      <span>Sign in with Google</span>
    </button>
  </form>
</onboarding-layout>
