/* You can add global styles to this file, and also import other style files */
@use "./app/shared/assets/styles/index.scss";
@use "primeicons/primeicons.css";
@use "tailwindcss";

@theme {
    --color-primary: #1E3A8A;
    --color-secondary: #64748B;
    --color-accent: #10B981;
    --color-danger: #EF4444;
    --color-income: #22C55E;
    --color-expense: #F97316;
    --color-bgLight: #F9FAFB;
    --color-textPrimary: #1F2937;
    --color-textSecondary: #6B7280;
    --color-surface: #FFFFFF;
    --color-card-shadow: #1018280F;
}

@utility shadow-md {
  box-shadow: 0px 4px 4px -2px var(--color-card-shadow), 0px -1px 12px -2px var(--color-card-shadow);
}

body {
    margin: 0;
    color: var(--color-textPrimary);
}

a {
  color: #1a73e8;           /* Sets the text color */
  text-decoration: none;    /* Removes underline */
  transition: color 0.5s;   /* Smooth color transition on hover */
}

a:hover {
  color: #0049b7;           /* Changes color on hover */
  text-decoration: underline; /* Optional underline on hover */
}
