<app-dashboard-layout title="Dashboard">
  <div
    class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mb-16"
  >
    <ht-metric-card
      title="Total Balance"
      [value]="balance.value"
      [percentage]="percentageBalance"
      [previousValue]="previousBalance.value"
      [isLoading]="isLoading"
    />

    <ht-metric-card
      title="Total Period Change"
      [value]="periodChange"
      [percentage]="percentagePeriodChange"
      [previousValue]="previousPeriodChange"
      [isLoading]="isLoading"
    />

    <ht-metric-card
      title="Total Period Expenses"
      [value]="balance.totalExpenses"
      [percentage]="percentageTotalExpenses"
      [previousValue]="previousBalance.totalExpenses"
      [isLoading]="isLoading"
    />

    <ht-metric-card
      title="Total Period Income"
      [value]="balance.totalIncome"
      [percentage]="percentageTotalIncome"
      [previousValue]="previousBalance.totalIncome"
      [isLoading]="isLoading"
    />
  </div>
  <ht-card>
    <app-balance-chart
      [balances]="[12, 51, 62, 33, 21, 62, 45, 33, 21, 62, 45, 45]"
    />
  </ht-card>
</app-dashboard-layout>
