<div
  class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
>
  <ng-container
    *ngTemplateOutlet="
      informationCard;
      context: {
        $implicit: 'Total Balance',
        value: balance.value,
        percentage: percentageBalance,
        previousValue: previousBalance.value
      }
    "
  ></ng-container>

  <ng-container
    *ngTemplateOutlet="
      informationCard;
      context: {
        $implicit: 'Total Period Change',
        value: change2Months(balance.value, previousBalance.value),
        percentage: percentagePeriodChange,
        previousValue: change2Months(
          previousBalance.value,
          beforePrevBalance.value
        )
      }
    "
  ></ng-container>

  <ng-container
    *ngTemplateOutlet="
      informationCard;
      context: {
        $implicit: 'Total Period Expenses',
        value: balance.totalExpenses,
        percentage: percentageTotalExpenses,
        previousValue: previousBalance.totalExpenses
      }
    "
  ></ng-container>

  <ng-container
    *ngTemplateOutlet="
      informationCard;
      context: {
        $implicit: 'Total Period Income',
        value: balance.totalIncome,
        percentage: percentageTotalIncome,
        previousValue: previousBalance.totalIncome
      }
    "
  ></ng-container>
  <ng-template
    #informationCard
    let-title
    let-value="value"
    let-percentage="percentage"
    let-previousValue="previousValue"
  >
    @if (!isLoading) {
    <ht-card>
      <ng-template layoutCardTemplate="header">
        <span class="text-display-sm">{{ title }}</span>
        <span class="text-title-lg">{{
          value || 0 | abs | currency : "VND"
        }}</span>
      </ng-template>
      <div class="text-display-sm">
        <span [ngClass]="percentage > 0 ? 'text-primary' : 'text-danger'">
          <i
            [style]="{ fontSize: '14px' }"
            [ngClass]="percentage > 0 ? 'pi pi-arrow-up' : 'pi pi-arrow-down'"
          ></i
          >{{ percentage | number : "1.1-2" }}%
        </span>
        <span
          class="pointer"
          pTooltip="{{ previousValue || 0 | abs | currency : 'VND' }}"
          tooltipPosition="top"
          placeholder="Top"
          >Last month</span
        >
      </div>
    </ht-card>
    } @else {
    <ht-card>
      <ng-template layoutCardTemplate="header">
        <p-skeleton />
        <p-skeleton height="2rem" />
      </ng-template>
      <p-skeleton />
    </ht-card>
    }
  </ng-template>
</div>
<app-balance-chart />
