<table>
    <thead>
        <tr>
            @if (htTableHeader) {
                @for (headerCellDirective of htTableHeader.headerEle; track headerCellDirective) {
                    <th>
                        <ng-container *ngTemplateOutlet="headerCellDirective.el"></ng-container>
                    </th>
                }
            }
        </tr>
    </thead>
    <tbody>
        @for (row of htTableRows; track row) {
            <tr 
              [class.selected]="row.active"
              [class.hoverable]="row.hoverable"
              (click)="row.rowClick.emit($event)"
            >
                @for (cellDirective of row.cellElements; track cellDirective) {
                    <td>
                        <ng-container *ngTemplateOutlet="cellDirective.el"></ng-container>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>